.select2 {
          width:100%;
         }

.addbutton{
	margin-bottom: 20px;
}

/*	.addmain a:hover{
		background-color:#E6E6E6;
		color:#black;
		box-shadow:1.5px 2px 10px black;*/



/*Button Edit*/
	.button_admin_edit {
		position: relative;
	}

	.button_admin_edit i {		
		position: absolute;
		top:30%;
		left:18%;
		color: #000;
		transition: 0.3s;
	}

	.editmain{
		margin-left:5%;
		margin-right:4%;
		margin-top:3%;
		margin-bottom:3%;
	}
	.editmain a{
		display:block;
		padding:3px 3px 3px 3px;
		color:black;
		text-decoration:none;
		background-color:#04B431;
		border-radius: 5px;
		width:40px;
		height:40px;
		transition: 0.3s;
	}

	.editmain a:hover{
		background-color:#01DF74;
		color:#black;
	}
	

/*Button Delete*/
	.button_admin_delete {
		position: relative;
	}
			
	.button_admin_delete i {		
		position: absolute;
		top:30%;
		left:13%;
		color: #000;
		transition: 0.3s;
	}

	.deletemain{
		margin-left:5%;
		margin-right:4%;
		margin-top:3%;
		margin-bottom:3%;

	}
	
	.deletemain a{
		display:block;
		padding:3px 3px 3px 3px;
		color:black;
		text-decoration:none;
		background-color:#DF0101;
		border-radius: 5px;
		width:40px;
		height:40px;
		transition: 0.3s;
	}

	.deletemain a:hover{
		background-color:#FE642E;
		color:#black;
	}

/*Button Delete file*/
	.button_admin_delete_file {
		position: relative;
	}
			
	.button_admin_delete_file i {		
		position: absolute;
		top:30%;

		left:33%;

		color: #000;
		transition: 0.3s;
	}
	
	.deletemain_file a{
		display:block;
		padding:3px 3px 3px 3px;
		color:black;
		text-decoration:none;
		background-color:#DF0101;
		border-radius: 5px;

		margin-left: 25%;
		
		width:40px;
		height:40px;
		transition: 0.3s;
	}

	.deletemain_file a:hover{
		background-color:#FE642E;
		color:#black;
	}

/*Button View*/
	.button_admin_view {
		position: relative;
	}

	.button_admin_view i {		
		position: absolute;
		top:32%;
		left:14%;
		color: #000;
		transition: 0.3s;
	}

	.viewmain{
		margin-left:5%;
		margin-right:4%;
		margin-top:3%;
		margin-bottom:3%;
	}
	.viewmain a{
		display:block;
		padding:3px 3px 3px 3px;
		color:black;
		text-decoration:none;
		background-color:#17a2b8;
		border-radius: 5px;
		width:40px;
		height:40px;
		transition: 0.3s;
	}

	.viewmain a:hover{
		background-color:#007bff;
		color:#black;
	}

/*Button Download file*/
	.button_admin_download_file {
		position: relative;
	}
			
	.button_admin_download_file i {		
		position: absolute;
		top:30%;

		left:33%;

		color: #000;
		transition: 0.3s;
	}
	
	.downloadmain_file a{
		display:block;
		padding:3px 3px 3px 3px;
		color:black;
		text-decoration:none;
		background-color:#04B431;
		border-radius: 5px;

		margin-left: 25%;
		
		width:40px;
		height:40px;
		transition: 0.3s;
	}

	.downloadmain_file a:hover{
		background-color:#01DF74;
		color:#black;
	}

